:root{
    font-family: Arial, sans-serif;
    background-color: green;
}
.form{
    display: flex;
    gap:10px;
    flex-direction: column;
    width: 300px;
}

.form input{
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    height: 20px;
}

.form input:focus {
    outline: none; 
  }

.form button{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 0px solid;
    background-color: lightgrey;
}

 button:hover{
    background-color: rgb(97, 25, 105);
    color: white;
}